/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f0f0f0;
    font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}

div.modal-backdrop.fade.show {
    height: 100% !important;
    width: 100% !important;
}

table i {
    cursor: pointer;
    opacity: .7;
}

table i:hover {
    opacity: 1;
}

nav a:hover,
nav a.active {
    /* border-bottom-color: #f56a6a; */
    color: black !important;
    background: white !important;
    border-radius: 0 20px 20px 0 !important;
    // font-weight: bold !important;
}