<div class="container-fluid">
    <h3 class="fw-bold"><span class="fa-arrow-right fas text-primary"></span> Gestionar Compra/Venta Comic</h3>
    <hr>

    <form [formGroup]="gestionarCompraComicForm">
        <div class="row">
            <div class="col-12">
                <label class="mb-0 mt-3 form-label" for="nombreComic">Nombre:</label>
                <input type="text" class="form-control" id="nombreComic" formControlName="nombre" [ngClass]="{ 'is-invalid' : submitted && f.nombre.errors }">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="mb-0 mt-3 form-label" for="cantidadComic">Cantidad:</label>
                <input type="number" class="form-control" id="cantidadComic" formControlName="cantidad" [ngClass]="{ 'is-invalid' : f.cantidad.errors }">
                <div *ngIf="f.cantidad.errors">
                    <span class="text-danger" *ngIf="f.cantidad.errors.required">Campo requerido.</span>
                    <span class="text-danger" *ngIf="f.cantidad.errors.maxlength">El campo solo recibe 3 caracteres.</span>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-success" (click)="comprarComic()">
            Vender
        </button>
        <button class="btn btn-block btn-danger" (click)="volver()">
            Cancelar
        </button>
    </form>
    <div class="alert alert-danger" *ngIf="mostrarMensaje" [ngClass]="{ 'alert-success' : exitoso }" role="alert">
        {{ mensajeEjecucion }}
    </div>
</div>