<div class="container-fluid">
    <!-- <h3 class="fw-bold"><span class="fa-arrow-right fas text-primary"></span> Gestionar Comic</h3> -->
    <!-- <hr> -->

    <div class="fade m-0 modal p-0" id="myModal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold modal-title">Agregar / Editar Comic</h5>
                    <button type="button" class="btn-close shadow-none bg-transparent" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4 px-lg-5">
                    <form [formGroup]="gestionarComicForm">
                        <div class="row">
                            <div class="col-8">
                                <label class="mb-0 mt-3 form-label" for="nombreComic">Nombre:</label>
                                <input type="text" class="form-control" id="nombreComic" formControlName="nombre" [ngClass]="{ 'is-invalid' : submitted && f.nombre.errors }">
                                <div *ngIf="submitted && f.nombre.errors">
                                    <span class="text-danger" *ngIf="f.nombre.errors.required">Campo requerido.</span>
                                    <span class="text-danger" *ngIf="f.nombre.errors.maxlength">El campo solo recibe 50 caracteres.</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="mb-0 mt-3" for="tematica">Temática:</label>
                                    <select class="form-control" id="tematica" formControlName="tematicaEnum" [ngClass]="{ 'is-invalid' : submitted && f.tematicaEnum.errors }">
                                        <option value="AVENTURAS">AVENTURAS</option>
                                        <option value="BELICO">BELICO</option>
                                        <option value="DEPORTIVO">DEPORTIVO</option>
                                        <option value="FANTASTICO">FANTASTICO</option>
                                        <option value="CIENCIA_FICCION">CIENCIA FICCION</option>
                                        <option value="HISTORICO">HISTORICO</option>
                                        <option value="HORROR">HORROR</option>
                                    </select>
                                    <div *ngIf="submitted && f.tematicaEnum.errors">
                                        <span class="text-danger" *ngIf="f.tematicaEnum.errors.required">Campo requerido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mb-0 mt-3" for="editorialComic">Editorial:</label>
                                <input type="text" class="form-control" id="editorialComic" formControlName="editorial" [ngClass]="{ 'is-invalid' : submitted && f.editorial.errors }">
                                <div *ngIf="submitted && f.editorial.errors">
                                    <span class="text-danger" *ngIf="f.editorial.errors.required">Campo requerido.</span>
                                    <span class="text-danger" *ngIf="f.editorial.errors.maxlength">El campo solo recibe 50 caracteres.</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="mb-0 mt-3" for="coleccion">Colección:</label>
                                <input type="text" class="form-control" id="coleccion" formControlName="coleccion" [ngClass]="{ 'is-invalid' : submitted && f.coleccion.errors }">
                                <div *ngIf="submitted && f.coleccion.errors">
                                    <span class="text-danger" *ngIf="f.coleccion.errors.required">Campo requerido.</span>
                                    <span class="text-danger" *ngIf="f.coleccion.errors.maxlength">El campo solo recibe 50 caracteres.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label class="mb-0 mt-3" for="autores">Autores:</label>
                                <textarea class="form-control" id="autores" rows="3" formControlName="autores"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <label class="mb-0 mt-3" for="numeroPaginas">Páginas:</label>
                                <input type="number" class="form-control" id="numeroPaginas" formControlName="numeroPaginas" [ngClass]="{ 'is-invalid' : submitted && f.numeroPaginas.errors }">
                                <div *ngIf="submitted && f.numeroPaginas.errors">
                                    <span class="text-danger" *ngIf="f.numeroPaginas.errors.required">Campo requerido.</span>
                                    <span class="text-danger" *ngIf="f.numeroPaginas.errors.maxlength">El campo solo recibe 50 caracteres.</span>
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="mb-0 mt-3" for="precio">Precio:</label>
                                <input type="number" class="form-control" id="precio" step=".01" formControlName="precio" [ngClass]="{ 'is-invalid' : submitted && f.precio.errors }">
                                <div *ngIf="submitted && f.precio.errors">
                                    <span class="text-danger" *ngIf="f.precio.errors.required">Campo requerido.</span>
                                    <span class="text-danger" *ngIf="f.precio.errors.maxlength">El campo solo recibe 50 caracteres.</span>
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="mb-0 mt-3 form-label" for="cantidadComic">Cantidad:</label>
                                <input type="number" class="form-control" id="cantidadComic" formControlName="cantidad" [ngClass]="{ 'is-invalid' : submitted && f.cantidad.errors }">
                                <div *ngIf="submitted && f.cantidad.errors">
                                    <span class="text-danger" *ngIf="f.cantidad.errors.required">Campo requerido.</span>
                                    <span class="text-danger" *ngIf="f.cantidad.errors.maxlength">El campo solo recibe 3 caracteres.</span>
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="mb-0 mt-3" for="color">A color:</label>
                                <div class="col-12 mt-1 row">
                                    <div class="form-check form-check-inline col-6 m-0">
                                        <input type="radio" id="customRadioInline1" [value]="true" name="color" class="form-check-input" formControlName="color">
                                        <label class="form-check-label text-black" for="customRadioInline1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline col-6 m-0">
                                        <input type="radio" id="customRadioInline2" [value]="false" name="color" class="form-check-input" formControlName="color">
                                        <label class="form-check-label text-black" for="customRadioInline2">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- <pre>{{ gestionarComicForm.controls | json }}</pre> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="border-0 btn btn-success lh-lg px-5 rounded-pill shadow w-auto" (click)="guardarComic()"><span class="text-white">Guardar</span></button>
                </div>
            </div>
        </div>
    </div>
    <form action="" class="position-relative">
        <div class="row g-0 mt-3">
            <div class="col-12 g-0 mb-3 row">
                <div class="align-items-center col-sm-10 d-flex">
                    <input type="search" class="form-control lh-lg rounded-pill shadow" (focusout)="listarComics($event.target.value)">
                </div>
                <div class="align-items-center col-sm-2 d-flex justify-content-end">
                    <button class="btn btn-success lh-lg px-4 rounded-pill shadow w-auto" type="button" data-bs-toggle="modal" data-bs-target="#myModal" (click)="abrirForm(-1)">
                        <i class="fa-plus fas pe-2 text-white"></i>
                        <span class="text-white">Nuevo</span>
                    </button>
                </div>
            </div>
            <div class="col-12 mt-3">
                <table class="align-middle shadow table table-hover table-light">
                    <thead class="table-danger">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Temática</th>
                            <th scope="col">Editorial</th>
                            <th scope="col">Colección</th>
                            <th scope="col">Autores</th>
                            <th scope="col">Páginas</th>
                            <th scope="col">Precio</th>
                            <th scope="col">A color</th>
                            <th class="text-center" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comic of listaComics;let i=index;">
                            <!-- <tr *ngFor="let comic of listaComics;let i=index;" [ngClass]="{ 'table-danger' : comic.cantidad == 0 }"> -->
                            <th scope="row">{{i+1}}</th>
                            <td>{{comic.nombre }}</td>
                            <td>{{comic.tematicaEnum | uppercase }}</td>
                            <td>{{comic.editorial }}</td>
                            <td>{{comic.coleccion }}</td>
                            <td>{{comic.autores }}</td>
                            <td>{{comic.numeroPaginas | number }}</td>
                            <td>{{comic.precio | number: '.2'}}</td>
                            <td>{{comic.color ? 'Si' : 'No' }}</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <i class="2x fa-search fas ml-1 px-1 text-primary" (click)="imprimirInfoComic(comic)" title="Consultar"></i>
                                    <i class="2x fa-pencil-alt fas ml-1 px-1 text-warning" data-bs-toggle="modal" data-bs-target="#myModal" (click)="abrirForm(i)" title="Editar"></i>
                                    <i class="2x fa-times-circle far ml-1 px-1 text-danger" (click)="eliminarComic(comic.id)" title="Eliminar"></i>
                                    <i class="2x fa-dollar-sign fas ml-1 px-1 text-success" (click)="IrAVenderComic(comic)" title="Vender"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <pre>{{ listaComics | json }}</pre> -->
            <!-- <pre>{{ nombre | json }}</pre> -->
        </div>

        <div *ngIf="mostrarItem" class="bottom-0 d-flex end-0 h-100 position-fixed start-0 top-0 w-100" style="z-index: 1; background: rgb(0 0 0 / 60%);">
            <div class="alert alert-warning m-auto w-auto" role="alert">
                <h5 class="fw-bold px-5 text-center">ITEM SELECCIONADO</h5>
                <hr>
                <table class="my-4">
                    <tr class="lh-1">
                        <th class="p-2">Nombre:</th>
                        <td class="p-2">{{comicDTOInfo.nombre}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Temática:</th>
                        <td class="p-2">{{comicDTOInfo.tematicaEnum}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Editorial:</th>
                        <td class="p-2">{{comicDTOInfo.editorial}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Colección:</th>
                        <td class="p-2">{{comicDTOInfo.coleccion}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Autores:</th>
                        <td class="p-2">{{comicDTOInfo.autores}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Páginas:</th>
                        <td class="p-2">{{comicDTOInfo.numeroPaginas}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">A color:</th>
                        <td class="p-2">{{comicDTOInfo.color ? 'Si' : 'No'}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Estado:</th>
                        <td class="p-2">{{comicDTOInfo.estadoEnum}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Cantidad:</th>
                        <td class="p-2">{{comicDTOInfo.cantidad}}</td>
                    </tr>
                    <tr class="lh-1">
                        <th class="p-2">Precio:</th>
                        <td class="p-2">$ {{comicDTOInfo.precio | number: '.2' }}</td>
                    </tr>
                </table>
                <hr>
                <!-- <pre>{{ comicDTOInfo | json }}</pre> -->
                <button type="button" class="border-0 btn btn-dark float-end shadow-sm" (click)="cerrar()">Cerrar</button>
            </div>
        </div>
    </form>
</div>